<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.housekeeping.mapper.livebroadcast.AnchorMapper">
    <sql id="anchorColumns">
        id AS "id",
        name AS "name",
        age AS "age",
        sex AS "sex",
        birthday AS "birthday",
        live_broad_casting_room AS "liveBroadCastingRoom.id",
        view_now AS "viewNow",
        is_alive AS "isAlive",
        number_of_subscriptions AS "numberOfSubscriptions",
        address AS "address",
        phone AS "phone",
        email AS "email",
        picture AS "picture",
        company AS "company",
        skill AS "skill",
        create_by AS "createBy.id",
        create_date AS "createDate",
        update_by AS "updateBy.id",
        update_date AS "updateDate",
        is_delete AS "isDelete",
        remarks AS "remarks"
    </sql>

    <select id="get" resultType="com.littlebuddha.housekeeping.entity.livebroadcast.Anchor">
        SELECT
        <include refid="anchorColumns"/>
        FROM anchor
        WHERE id=#{id}
    </select>

    <select id="findAllList" resultType="com.littlebuddha.housekeeping.entity.livebroadcast.Anchor">
        SELECT
        <include refid="anchorColumns"/>
        FROM anchor a
    </select>

    <select id="findList" resultType="com.littlebuddha.housekeeping.entity.livebroadcast.Anchor">
        SELECT
        <include refid="anchorColumns"/>
        FROM anchor a
        <where>
            <!-- 判断条件参数是否为空 -->
            <if test="name != null and name != ''">
                a.name = #{name}
            </if>
            <if test="liveBroadCastingRoom != null and liveBroadCastingRoom != '' and liveBroadCastingRoom.id != null and liveBroadCastingRoom.id != ''">
                and a.live_broad_casting_room IN (
                select id from live_broad_casting_room
                where LEFT(code,3) = (select code from live_broad_casting_room where id=#{liveBroadCastingRoom.id}))
            </if>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO anchor(
            id,
            name,
            age,
            sex,
            birthday,
            live_broad_cast_type,
            view_now,
            is_alive,
            number_of_subscriptions,
            address,
            phone,
            email,
            picture,
            company,
            skill,
            create_by,
            create_date,
            update_by,
            update_date,
            is_delete,
            remarks
        )VALUES (
            #{id},
            #{name},
            #{age},
            #{sex},
            #{birthday},
            #{liveBroadCastType},
            #{viewNow},
            #{isAlive},
            #{numberOfSubscriptions},
            #{address},
            #{phone},
            #{email},
            #{picture},
            #{company},
            #{skill},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{isDelete},
            #{remarks}
        )
    </insert>

    <update id="update">
        UPDATE anchor SET
            id = #{id},
            name = #{name},
            age = #{age},
            sex = #{sex},
            birthday = #{birthday},
            live_broad_cast_type = #{liveBroadCastType},
            view_now = #{viewNow},
            is_alive = #{isAlive},
            number_of_subscriptions = #{numberOfSubscriptions},
            address = #{address},
            phone = #{phone},
            email = #{email},
            picture = #{picture},
            company = #{company},
            skill = #{skill},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            is_delete = #{isDelete},
            remarks = #{remarks}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE anchor SET is_delete = 1
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE anchor SET is_delete = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM anchor
        WHERE id=#{id}
    </delete>
</mapper>