<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.housekeeping.mapper.system.MenuMapper">
    <sql id="menuColumns">
        id AS "id",
        name AS "name",
        parent_id AS "parentId",
        parent_ids AS "parentIds",
        href AS "href",
        is_show AS "isShow",
        sort AS "sort",
        menu_type AS "menuType",
        permission AS "permission",
        icon AS "icon",
        has_children AS "hasChildren",
        create_by AS "createBy.id",
        create_date AS "createDate",
        update_by AS "updateBy.id",
        update_date AS "updateDate",
        remarks AS "remarks",
        is_delete AS "isDelete"
    </sql>

    <select id="get" resultType="com.littlebuddha.housekeeping.entity.system.Menu">
        SELECT
        <include refid="menuColumns"/>
        FROM system_menu a
        WHERE id=#{id}
    </select>

    <!--根据operatorid查询operator对应的权限-->
    <select id="findPermissionsByOperator" resultType="java.lang.String">
        SELECT DISTINCT a.permission FROM system_menu a,system_role_menu b,system_operator_role c
        WHERE a.id=b.menu_id AND b.role_id=c.role_id
        AND c.operator_id=#{id}
    </select>

    <select id="findMenuByOperator" resultType="com.littlebuddha.housekeeping.entity.system.Menu">
        SELECT
        <include refid="menuColumns"/>
        FROM system_menu a,system_role_menu b,system_operator_role c
        <where>
            a.id=b.menu_id AND b.role_id=c.role_id
            <!-- 判断条件参数是否为空 -->
            <if test="operator != null and operator != '' and operator.id != null and operator.id != ''">
                and c.operator_id=#{operator.id}
            </if>
        </where>
        <!-- 用分组去重多重身份的重复菜单 -->
        GROUP BY a.name
    </select>

    <select id="findList" resultType="com.littlebuddha.housekeeping.entity.system.Menu">
        SELECT
        <include refid="menuColumns"/>
        FROM system_menu a
        <where>
            a.is_delete = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="name != null and name != ''">
                and a.name = #{name}
            </if>
            <if test="parentId != null and parentId != ''">
                and a.parent_id = #{parentId}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
                LIMIT #{page.start},#{page.length}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
                LIMIT #{page.start},#{page.length}
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.housekeeping.entity.system.Menu">
        SELECT
        <include refid="menuColumns"/>
        FROM system_menu a
        <where>
            a.is_delete = #{DEL_FLAG_NORMAL}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findTheBiggestMenu" resultType="com.littlebuddha.housekeeping.entity.system.Menu">
        SELECT
        <include refid="menuColumns"/>
        FROM system_menu a
        WHERE a.is_delete = #{DEL_FLAG_NORMAL} and a.parent_id = '0'
    </select>

    <insert id="insert">
        INSERT INTO system_menu(
            id,
            name,
            parent_id,
            parent_ids,
            href,
            is_show,
            sort,
            menu_type,
            permission,
            icon,
            has_children,
            create_by,
            create_date,
            update_by,
            update_date,
            remarks,
            is_delete
        )VALUES (
            #{id},
            #{name},
            #{parentId},
            #{parentIds},
            #{href},
            #{isShow},
            #{sort},
            #{menuType},
            #{permission},
            #{icon},
            #{hasChildren},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{remarks},
            #{isDelete}
        )
    </insert>

    <update id="update">
        UPDATE system_menu SET
            name = #{name},
            parent_id = #{parentId},
            parent_ids = #{parentIds},
            href = #{href},
            is_show = #{isShow},
            sort = #{sort},
            menu_type = #{menuType},
            permission = #{permission},
            icon = #{icon},
            has_children = #{hasChildren},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            remarks = #{remarks},
            is_delete = #{isDelete}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE system_menu SET is_delete = 1
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE system_menu SET is_delete = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM system_menu
        WHERE id=#{id}
    </delete>
</mapper>