<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.littlebuddha.housekeeping.mapper.system.OperatorMapper">
    <sql id="operatorColumns">
        id AS "id",
        name AS "name",
        password AS "password",
        salt AS "salt",
        picture AS "picture",
        birthday AS "birthday",
        address AS "address",
        sex AS "sex",
        age AS "age",
        is_marry AS "isMarry",
        hobby AS "hobby",
        specialty AS "specialty",
        primary_school AS "primarySchool",
        middle_school AS "middleSchool",
        high_school AS "highSchool",
        university AS "university",
        other_education AS "otherEducation",
        skill AS "skill",
        company AS "company.name",
        resume AS "resume",
        area AS "area.name",
        phone AS "phone",
        email AS "email",
        create_by AS "createBy.id",
        create_date AS "createDate",
        update_by AS "updateBy.id",
        update_date AS "updateDate",
        using_status AS "usingStatus",
        is_delete AS "isDelete",
        remarks AS "remarks"
    </sql>

    <select id="get" resultType="com.littlebuddha.housekeeping.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator
        WHERE id=#{id}
    </select>

    <select id="selectByNameAndPassword" resultType="com.littlebuddha.housekeeping.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator
        WHERE name=#{name} AND password=#{password}
    </select>

    <select id="selectByName" resultType="com.littlebuddha.housekeeping.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator
        WHERE name=#{name}
    </select>

    <select id="findList" resultType="com.littlebuddha.housekeeping.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        <where>
            a.is_delete = #{DEL_FLAG_NORMAL}
            <!-- 判断条件参数是否为空 -->
            <if test="name != null and name != ''">
                and a.name = #{name}
            </if>
            <if test="birthday != null">
                and a.birthday = #{birthday}
            </if>
            <if test="address != null and address != ''">
                and a.address = #{address}
            </if>
            <if test="sex != null and sex != ''">
                and a.sex = #{sex}
            </if>
            <if test="age != null and age != ''">
                and a.age = #{age}
            </if>
            <if test="beginDate != null and endDate != null">
                and a.create_date between = #{beginDate} and #{endDate}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
                LIMIT #{page.start},#{page.length}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
                LIMIT #{page.start},#{page.length}
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="com.littlebuddha.housekeeping.entity.system.Operator">
        SELECT
        <include refid="operatorColumns"/>
        FROM system_operator a
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
        INSERT INTO system_operator(
            id,
            name,
            password,
            salt,
            picture,
            birthday,
            address,
            sex,
            age,
            is_marry,
            hobby,
            specialty,
            primary_school,
            middle_school,
            high_school,
            university,
            other_education,
            skill,
            company,
            resume,
            area,
            phone,
            email,
            create_by,
            create_date,
            update_by,
            update_date,
            using_status,
            is_delete,
            remarks
        )VALUES (
            #{id},
            #{name},
            #{password},
            #{salt},
            #{picture},
            #{birthday},
            #{address},
            #{sex},
            #{age},
            #{isMarry},
            #{hobby},
            #{specialty},
            #{primarySchool},
            #{middleSchool},
            #{highSchool},
            #{university},
            #{otherEducation},
            #{skill},
            #{company.name},
            #{resume},
            #{area.name},
            #{phone},
            #{email},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate},
            #{usingStatus},
            #{isDelete},
            #{remarks}
        )
    </insert>

    <update id="update">
        UPDATE system_operator SET
            name = #{name},
            password = #{password},
            salt = #{salt},
            picture = #{picture},
            birthday = #{birthday},
            address = #{address},
            sex = #{sex},
            age = #{age},
            is_marry = #{isMarry},
            hobby = #{hobby},
            specialty = #{specialty},
            primary_school = #{primarySchool},
            middle_school = #{middleSchool},
            high_school = #{highSchool},
            university = #{university},
            other_education = #{otherEducation},
            skill = #{skill},
            company = #{company.name},
            resume = #{resume},
            area = #{area.name},
            phone = #{phone},
            email = #{email},
            create_by = #{createBy.id},
            create_date = #{createDate},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            using_status = #{usingStatus},
            is_delete = #{isDelete},
            remarks = #{remarks}
        WHERE id=#{id}
    </update>

    <update id="deleteByLogic">
        UPDATE system_operator SET is_delete = 1
        WHERE id=#{id}
    </update>

    <update id="recover">
        UPDATE system_operator SET is_delete = 0
        WHERE id=#{id}
    </update>

    <delete id="deleteByPhysics">
        DELETE FROM system_operator
        WHERE id=#{id}
    </delete>
</mapper>